doctype html
html(lang="en")
    include includes/head.pug
    body
        div.container
            div.content_block
                include navbar/index.pug
                include sidebar/index.pug

                main.content
                    include home/index.pug

                include foot/index.pug