#home_page .fb_page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background: var(--color-background-fb);
} 

@media (min-width: 700px) {
    #home_page .fb_page {
        margin: 0 10px;
        padding: 0;
    }
    #home_page header {
        display: grid;
        grid-template-columns: 1fr auto;
    }    
}