.featured_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    padding: 5px;
    margin: 10px 0;
    background: var(--color-background-featured);
}

.featured_card img {
    width: 100%;
}

.featured_card .rate_on {
    color: #e7c500;
}

.featured_card .rate_off {
    color: #ffffff;
}

@media (min-width: 600px) {
    .featured_card {
        margin: 10px 5px;
    }  
}